#menu {
    background-color: aquamarine;
    display: flex;
}

#menu > a {
    background: yellow;
    padding: 10px;
    margin: 5px;
}

#menu > input[type='search'] {
    margin: 5px 5px 5px auto;
}

#images {
    display: flex;

    flex-wrap: wrap;
    gap: 10px;
}

#images > img {
    flex-grow: 1;
    object-fit: cover;
}

#images > .bigger {
    flex-grow: 3;
}