#slideshow {
    width: 500px;
    margin: auto;
    position: relative;
}

#slideshow img {
    max-width: 100%;
    position: absolute;
    opacity: 0;
    transition: 0.5s all;
}

img#active {
    opacity: 1;
}