#images {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b3dced+0,29b8e5+50,bce0ee+100;Blue+Pipe */
background: #b3dced; /* Old browsers */
background: -moz-linear-gradient(top,  #b3dced 0%, #29b8e5 50%, #bce0ee 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #b3dced 0%,#29b8e5 50%,#bce0ee 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #b3dced 0%,#29b8e5 50%,#bce0ee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee',GradientType=0 ); /* IE6-9 */

    overflow: hidden;
    padding: 20px;
}

#images > figure {
    width: 20%;
    margin: 2.5%;
    float: left;   

    -webkit-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;

    border: 5px solid white;
    box-sizing: border-box;

    -webkit-box-shadow: 0 0 10px 1px #000000;
    box-shadow: 0 0 10px 1px #000000;

    -moz-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);

    position: relative;
    overflow: hidden;

    opacity: 0.5;
    transition: all 0.5s;
}

#images > figure:hover {
    -moz-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg);

    transition: all 0.5s;
    opacity: 1;
}

#images > figure > img {
    max-width: 100%;
}

#images > figure > figcaption {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    text-align: center;
    height: 0px;
}

#images > figure:hover figcaption {
    height: 20px;
    line-height: 20px;
    transition: all 0.5s;
}

#animate-btn {
    padding: 30px;
    background-color: gold;
    width: 200px;
    margin: 20px auto;
    text-align: center;
    cursor: pointer;
}

#box {
    background-color: red;
    height: 50px;
    width: 50px;
    position: absolute;
    left: 0px;
}

#animate-btn:hover + #box {
    animation: run 5s infinite;
}

@keyframes run {

    0% {
        background-color: red;
        left: 0px;
    }
    50% {
        left: calc(100% - 100px);
        width: 100px;
        height: 100px;
        background-color: aqua;
    }
    100% {
        left: 0px;
        background-color: red;
        width: 50px;
        height: 50px;
    }
    
}