#grid {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: auto auto auto;
    grid-gap: 10px;
    grid-template-areas:    
        "header header header"
        "nav main aside"
        "footer footer footer"
    ;
}

#grid > * {
    min-height: 100px;
}

#grid > header {
    background-color: lightblue;
    grid-area: header;
}

#grid > footer {
    background-color: lightblue;
    grid-area: footer;
}

#grid > nav {
    background-color: aquamarine;
    grid-area: nav;
}

#grid > main {
    background-color: blueviolet;
    grid-area: main;
}

#grid > aside {
    background-color: chartreuse;
    grid-area: aside;
}